/* main stylesheet */

@font-face {
    font-family: cardo;
    src: url('../font/Cardo-Regular-min.woff2') format('woff2');
}
body {
    font-family: cardo;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

map area {
    cursor: pointer;
}
map area.enabled {
    cursor: pointer;
    pointer-events: all;
}

